<app-header></app-header>
<div class="d-flex justify-content-center">
<h1>About Connecting Wall Creator App</h1>
</div>
<h2>Created By : Filip Ćuić, bacc.ing.comp</h2>
<h2>Mentored By : Mirko Köhler, Ph.D.</h2>
<h2>University of Josip Juraj Strossmayer in Osijek, Faculty of Electrical Engineering, Computer Engineering and Information Technology</h2>
<p class="disclaimer">This Application is for educational purposes only and is created for Master Thesis. Application is inspired by British Broadcasting Corporations(BBC) Quiz show Connecting Wall!</p>
<p class="disclaimer">Registered users can play quizzes created by other users, as well as create and modify their own quizzes.</p>
<br>
<h2>Rules of the game : </h2>
<p>There are 16 terms randomly sorted. Each term belongs to one of four group of terms (every group consists of 4 terms). First objective of the game is to determine which terms belong to same group and players task is to group them by selecting (marking) them. If 4 selected terms belong to the same group, user gets 1 point. After connecting two groups of terms, user gets 3 lives which represent number of tries to group one more set of terms. If player manages to pair the terms for 3 groups, he automatically gets 4 points. Player needs to group the terms in three minutes. After successful or unsuccessful term grouping, player can win more points by guessing the connection between terms.</p>
<!-- Footer -->
<footer class="foot">
    <div class="d-flex justify-content-center">
        <h1>Contact App Creator:</h1>
    </div>
<div class="d-flex justify-content-center">
    <div class="container">
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
            <a href="https://www.facebook.com/philcuic" style="color:blue;"><mat-icon><i class="fa fa-facebook-square" aria-hidden="true" style="font-size:3em"></i></mat-icon></a>
            <a href="https://www.instagram.com/filipcuic/" style="color:rgb(144, 8, 58);"><mat-icon><i class="fa fa-instagram" aria-hidden="true" style="font-size:3em"></i></mat-icon></a>
            <a href="filipcuic.nasice@gmail.com" style="color:rgb(111, 7, 7);"><mat-icon><i class="fa fa-google-plus-square" aria-hidden="true" style="font-size:3em"></i></mat-icon></a>
            <a href="https://www.twitch.tv/fcuic" style="color:rgb(79, 3, 76);"><mat-icon><i class="fa fa-twitch" aria-hidden="true" style="font-size:3em"></i></mat-icon></a>
            <a href="https://github.com/fcuic" style="color:rgb(8, 0, 8);"><mat-icon><i class="fa fa-github" aria-hidden="true" style="font-size:3em"></i></mat-icon></a>
          </div>
        </div>
    </div>
</div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <h3>Filip Ćuić</h3>
    </div>
  </footer>