<app-header></app-header>
<div class="d-flex justify-content-center">
<h1>About Quiz App Connecting Wall Creator</h1>
</div>
<h2>Created By : Filip Ćuić, bacc.ing.comp</h2>
<h2>Mentored By : Mirko Köhler, Ph.D.</h2>
<h2>University of Josip Juraj Strossmayer in Osijek, Faculty of Electrical Engineering, Computer Engineering and Information Technology</h2>
<p class="disclaimer">This Application is for educational purposes only and is created for Master Thesis. Application is inspired by British Broadcasting Corporations(BBC) Quiz show Connecting Wall!</p>
<p class="disclaimer">Registered users can play quizzes created by other users, as well as create and modify their own quizzes.</p>
<br>
<h2>Rules of the game : </h2>
<p>There are 16 terms randomly sorted. Each term belongs to one of four group of terms (every group consists of 4 terms). First objective of the game is to determine which terms belong to same group and player task is to group them by selecting (marking) them. If 4 selected terms belong to the same group, user gets 1 point. After connecting two groups of terms, user gets 3 lives which represent tries to group one more set of terms. If player manages to pair the terms for 3 groups, he automatically gets 4 points. Player needs to group the terms in three minutes. After successful or unsuccessful term grouping, player can win more points by guessing the connection between terms.</p>
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
                    <h2>Connecting Wall</h2>
                    <p>Create your own connecting wall or play quiz created by other users!</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-two ">
                    <h2>Contact Creator</h2>
                    <p>Social media contact :</p>
                    <button type="button" mdbBtn size="lg" color="fb" class="waves-light" mdbWavesEffect><i class="fab fa-facebook-f left"></i>Facebook</button>
                </div>
            </div>
        </div>
    </div>
</footer>