<div class="container">
        <div class="d-flex justify-content-center">
        <h1 class="display-1">Quiz : {{wall.wallName}}</h1>
        </div>
        <div class="d-flex justify-content-center">
        <h2>You are solving quiz created by : {{wall.user.fullName}}</h2>
        </div>
    <p>You have 3 minutes to connect the related terms. After connecting two groups of terms, you will have 3 tries to connect the remaining two. After connecting all terms in the same group, you can collect more points by guessing the link between them. Good Luck!</p>
    <img src="../../assets/img/quiz-time.jpg">
</div>
<br>

