<div class="container">
    <mat-toolbar>
        <h1>Quiz : {{this.wallName}}</h1>
        <span class="fill-space"></span>
        <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
    <h2>You are solving quiz created by : {{this.wallsUser}}</h2>
    <p>You have 3 minutes to connect the related terms. After connecting two groups of terms, timer will be off and you will have 3 tries to connect the remaining two. After connecting all the terms in same group, you can collect more points by guessing the link between them. Good Luck!</p>
    <img src="../../assets/img/quiz-time.jpg">
</div>
<br>
<button type="button" class="btn btn-primary btn-lg btn-block">Start</button>
